.vs/*
.dtbcache
.cache
.lock
HoustonBrowser.Parsing/obj/Debug/netstandard2.0/HoustonBrowser.Parsing.csproj.CoreCompileInputs.cache
HoustonBrowser.Network/obj/HoustonBrowser.Network.csproj.nuget.cache
HoustonBrowser.Network/obj/Debug/netstandard2.0/HoustonBrowser.Network.assets.cache
HoustonBrowser.Network/obj/Debug/netstandard2.0/HoustonBrowser.Network.csproj.CoreCompileInputs.cache
HoustonBrowser.Network/obj/Debug/netstandard2.0/HoustonBrowser.Network.csprojAssemblyReference.cache
HoustonBrowser.Network.Test/obj/HoustonBrowser.Network.Test.csproj.nuget.cache
HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.assets.cache
HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.csproj.CoreCompileInputs.cache
HoustonBrowser.Network.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Network.Test.csprojAssemblyReference.cache
HoustonBrowser.Parsing/obj/HoustonBrowser.Parsing.csproj.nuget.cache
HoustonBrowser.Parsing/obj/Debug/netstandard2.0/HoustonBrowser.Parsing.assets.cache
HoustonBrowser.Parsing/obj/Debug/netstandard2.0/HoustonBrowser.Parsing.csprojAssemblyReference.cache
HoustonBrowser.Parsing.Test/obj/HoustonBrowser.Parsing.Test.csproj.nuget.cache
HoustonBrowser.Parsing.Test/obj/Debug/netcoreapp2.1/HoustonBrowser.Parsing.Test.csproj.CoreCompileInputs.cache
